html {
  font-family: 'Roboto', sans-serif;
}
body{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
}
nav {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 8rem;
  position: fixed;
  box-shadow: 1px 1px 10px black;
  background-color: white;
}
#logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
#logoContainer img {
  width: 9rem;
  height: 5rem;
}
#navListContainer {
  width: 60%;
  height: 100%;
}
#navListContainer ul {
  height: inherit;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
#navListContainer ul li {
  margin-left: 1rem;
  margin-right: 1rem;
  transition: 0.1s ease-in-out;
}
#navListContainer ul li:hover {
  transform: scale(1.1);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
}
#navListContainer ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#bookBtnContainer {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.bookBtn {
  width: 9rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(75, 190, 211);
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.bookBtn:hover {
  transform: scale(1.05);
  background-color: rgb(122, 213, 230);
}
main {
  margin-top: 8rem;
  margin-bottom: 4rem;
}
#homePhoto { 
  width: 100%;
  height: 81vh;
  background-image: url(../images/aboutUs2.jpg);
  background-position-y: center;
  background-size: cover;
}
#aboutUs {
  display: flex;
  width: 100%;
  height: 35rem;
  margin: 0;
}
.templateContainer {
  width: 40%;
  height: 100%;
  background-color: rgb(75, 190, 211);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.templateContainer h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}
.templateContainer p {
  margin: 2rem;
  text-align: justify;
}
.sectionBtnsDiv {
  height: 50%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sectionBtns {
  background-color: black;
}
.sectionBtns:hover {
  background-color: rgb(29, 28, 28);
}
.templateImgContainer {
  width: 60%;
  height: 100%;
}
#imgAboutUsDiv {
  width: 100%;
  height: 100%;
  background-image: url(../images/aboutUs1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#rooms {
  display: flex;
  width: 100%;
  height: 35rem;
  margin: 0;
}
#imgRoomsDiv {
  width: 100%;
  height: 100%;
  background-image: url(../images/room4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#ourCity {
  width: 100%;
  height: 60rem;
}
#ourCity h1 {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  margin-bottom: 6rem;
  margin-top: 6rem;
}
#gallery {
  height: 90%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.galleryPhoto {
  width: 22rem;
  height: 22rem;
  margin-left: 20px;
  margin-right: 20px;
  background-size: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);
}
#photo1 {
  background-image: url(../images/photo1.jpg);
}
#photo2 {
  background-image: url(../images/photo2.jpg);
}
#photo3 {
  background-image: url(../images/photo3.jpg);
}
#photo4 {
  background-image: url(../images/photo4.jpg);
}
#photo5 {
  background-image: url(../images/photo5.jpg);
}
#photo6 {
  background-image: url(../images/photo7.jpg);
}
footer {
  width: 100%;
  height: 17rem;
  background-color: rgb(75, 190, 211);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#logoContact img {
  height: 5rem;
  width: 9rem;
  margin-top: 0.5rem;
}
#adressContact p {
text-align: center;
}
#socialMediaContact a {
  color: black;
  font-size: 40px;
  margin: 10px;
}
#socialMediaContact i{
  transition: 0.1s ease-in-out;
}
#socialMediaContact i:hover {
  transform: scale(1.2);
}



